@import url("rms.css");

canvas {
  background-color: rgb(207, 190, 151);
  display: block;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-color: black;
  border-style: double;
  border-width: thick;
}

.scrollpane {
  overflow-y: auto;
}

#leftinfo {
  margin: 12px;
  float: left;
  margin: 10px;
  width: 800px;
}

#usertab {
  font-family: Candara;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: #c09859;
  border: 3px solid black;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
}

#usertab table {
  margin: 0px;
  text-align: center;
  width: 100%;
}

#usertab table th:first-child {
  border-right: 3px solid white;
  width: 50%;
}

#usertab table th.selected {
  color: white;
}

#schedule_traindesc {
  background: rgb(222, 215, 177);
  border: 3px solid black;
  margin-bottom: 4px;
  font-size: 20px;
  border-radius: 10px;
}

#schedule_traindesc table {
  background: rgb(222, 215, 177);
  border-radius: 10px;
}

#schedule_traindesc table th {
  padding: 5px 20px 5px 20px;
}

#schedule_traindesc table th img {
  width: 50px;
}

#schedule_traindesc #backbutton {
  width: 20px;
  height: 20px;
  background: url('../images/backarrow.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.listtable {
  border: 3px solid black;
  font-family: "Trebuchet MS";
  font-size: 18px;
  max-height: 500px;
}

.listtable table {
  background: rgb(222, 215, 177);
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.listtable table tr {
  border-bottom: 2px solid white;
}

.listtable table tr:hover {
  background: rgb(235, 181, 94);
}

.listtable table th {
  background: rgb(186, 143, 74);
  position: sticky;
  top: 0;
  padding-bottom: 8px;
}

.listtable table th::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: white;
}

.listtable table td {
  padding: 20px;
}

.listtable table td:nth-child(1) {
  width: 50px;
}

.hiding {
  display: none;
}
