
/* */
header,footer {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2e6d9;
}
.content{
  margin-left:10%;
  margin-right:10%;

}
.content h1{
  margin-left: 5% ;
  font-family: serif;
}
.news-grid{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.blockcontent{
  text-align: center;
}
.card1{
  width: 30%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}
.card1-content{
  padding: 5% 10% 10% 10%;
  text-align: left;
}
.blockcontent:first-child{
  margin-left: 5%;
}
.blockcontent:last-child{
  margin-right: 5%
}
/* Header/logo Title */
header {
  text-align: center;
  overflow: auto;
  padding-top: 10px;
  background-color: #c2843d;
}
/* Increase the font size of the heading */
header p {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: normal;
  padding: 0px;
  margin: auto;
}
#headerTable {
  padding: 0px 25px 0px 25px;
}
/* Style the top navigation bar */
nav {
  overflow:  hidden;
  background-color: #996633;
  margin: 10px 0px 0px 0px;
  text-align: left;

}
/* Style the navigation bar links */
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 60px 5px 60px;
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2);

}
nav ul li.selected {
  background: gray;

}
nav ul li a {
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: white;
	border-bottom: none;
	font-weight: bold;
}

/* Right-aligned link */
nav a.right {
  float:  none;
}

/* Change color on hover */
nav a:hover {
  color: black;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Footer */
footer{
  margin-top:auto;
  background-color: brown;
  color: white;
  text-align: center;
  font-size: small;
  width:100%;
}
table#footer-table{
  width: 100%;
  vertical-align: top;
}
table#footer-table td{
  width: 50%;
}
table table#inner-footer-table td{
  width: 20%;
}

table table#inner-footer-table a{
  color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .nav a {
    float: none;
    width: 100%;
  }
}
