body{
  background-color: #f2e6d9;
  margin: 0;
}

header{
  overflow: auto;
  padding-top: 20px;
  background-color: #c2843d;
}

header table{
  padding: 0px 0px 0px 20px;
  width: 100%;
}

header p{
  font-size: 30px;
  font-weight: bold;
  font-family: Candara;
  font-style: normal;
  padding: 0px;
  margin: auto;
}

nav {
  overflow: auto;
  background-color: #996633;
	margin: 10px 0px 0px 0px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 20px 5px 20px;
}
nav ul li a {
  font-family: Verdana, sans-serif;
  text-decoration: none;
	color: white;
	border-bottom: none;
	font-weight: bold;
}

.mySlides {
  display: none;
}

.mySlides img {
  vertical-align: middle;
  height: 500px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 20px 0px 0px 20px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

footer{
  background-color: Olive;
  color: white;
  text-align: center;
  font-size: small;
}
table#footer-table{
  width: 100%;
  vertical-align: top;
}
table#footer-table td{
  width: 50%;
}
table table#inner-footer-table td{
  width: 20%;
}

table table#inner-footer-table a{
  color: white;
  font-
}
